<li class="hotel-item">
    <h3><%= hotel.name %> </h3>
    <p> <%= hotel.address %></p>
    <p> <%= hotel.title %></p>
    <p>Rating: <%= hotel.rating %></p>
    <a href="/hotels/<%= hotel.id %>">View Hotel</a>
  </li>