<div class="hotel__item">
    <h3><%= hotel.name %> </h3>
    <p> <%= hotel.address %></p>
    <p> <%= hotel.title %></p>
    <p>Rating: <%= hotel.rating %></p>
    <a href="/hotels/<%= hotel.id %>">Full Review</a>
</div>