<div class="hotel__item">
  <div class="hotel__heading">
    <h3><%= hotel.name %></h3>
     <p>Rating: <%= hotel.rating %></p>
   
  </div>
  <div class="hotel__content">
    
    <p><%= hotel.address %></p>
    <p class="title"><%= hotel.title %></p>

    <button>
      <a href="/hotels/<%= hotel.id %>">Full Review</a>
    </button>
  </div>
</div>
