<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/hotels.css" />
  </head>
  <body>
    <%- include('includes/header') %>

    <main>
      <div class="hotel__detail">
       
          <h3><%= hotel.name %></h3>
          <p><%= hotel.address %></p>
          <p><%= hotel.title %></p>
          <p class="description"><%= hotel.description %></p>
          <p>Rating: <%= hotel.rating %></p>
          <a href="<%= hotel.website %>">View Website</a>
        
      </div>
    </main>
  </body>
</html>
