<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/hotels.css" />
  </head>
  <body>
    <%- include('includes/header') %>

    <main>
      <section>
        <div class="hotel__detail">
          <h3><%= hotel.name %></h3>
          <p>Rating: <%= hotel.rating %></p>

          <p><%= hotel.state %></p>
          <p><%= hotel.title %></p>
          <p class="description"><%= hotel.description %></p>
        </div>
      </section>
    </main>
  </body>
</html>
