<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/public/styles/hotels.css" />
  </head>
  <body>
    <%- include('includes/header') %>

    <main>
      <section class="hotel-item">
       
          <h3><%= hotel.name %></h3>
          <p><%= hotel.address %></p>
          <p><%= hotel.title %></p>
          <p><%= hotel.description %></p>
          <p><%= hotel.rating %></p>
          <a href="<%= hotel.website %>">View Website</a>
        
      </section>
    </main>
  </body>
</html>
